HW9

Question 1

In [3]:
def theMax(numbers):
  max = -1
  for k in numbers:
    if max < k:
      max = k
  return max

def theMin(numbers):
  min = 1000000000
  for k in numbers:
    if min > k:
      min = k
  return min

def theAverage(numbers):
  total = 0
  for k in numbers:
    total += k
  return total/ len(numbers)

def theSD(numbers):
  total = 0
  avg = theAverage(numbers)
  for k in numbers:
    total += pow(k-avg,2)
  return pow(total/(len(numbers)-1),.5)

def theGeoMean(numbers):
  total = 1
  for k in numbers:
    total *= k
  return pow(total, 1/len(numbers))

theList = [19, 32, 34,33, 75, 91, 9, 4, 18, 38]
print(theMax(theList))
print(theMin(theList))
print(theAverage(theList))
print(theSD(theList))
print(theGeoMean(theList))

91
4
35.3
27.76908752952142
25.464536135860143

Question 2

In [16]:
import math

def chooseShape():
  val = int(input("Press 1 for triangle, 2 for circle, 3 for square\n"))
  if val == 1:
    triangleArea()
  elif val == 2:
    circleArea()
  elif val == 3:
    squareArea()
  else:
    print("Invalid choice")

def triangleArea():
  base = float(input('What is the base?\n'))
  height = float(input('What is the height?\n'))
  print(f'The area is {base*height/2}.')

def circleArea():
  radius = float(input('What is the radius?\n'))
  print(f'The area of the circle is {radius*radius*math.pi}')

def squareArea():
  side = float(input('What is the side?\n'))
  print(f'The area of the square is {side**2}')

chooseShape();

Press 1 for triangle, 2 for circle, 3 for square
3
What is the side?
5
The area of the square is 25.0

Question 3

In [19]:
def doubleIt(x):
  choice = int(input('Say 1 to double the numbers and 2 to double the values\n'))

  if choice == 1:
    return x*2
    
  elif choice == 2:
    for k in range(len(x)):
      x[k] = x[k]*2
    return x


val = [1, 2, 3]
other = doubleIt(val)

print(other)

Say 1 to double the numbers and 2 to double the values
2
[2, 4, 6]

Question 4

In [20]:
def putTogether(x,y):
  other = []
  for i in range(len(x)):
    other.append(x[i] *10 + y[i])
  return other

x = [1, 2, 3]
y = [7, 8, 9]
print(putTogether(x,y))

[17, 28, 39]

Question 5

In [24]:
def Prime():
  upper = 100

  print("Prime numbers between 1 and", upper, "are:")

  for num in range(1, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)
Prime()

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Question 6

In [25]:
def calculation(first, second):
  add = first + second
  sub = first - second 
  return add, sub

print(calculation(10,5))

(15, 5)

Question 7

In [31]:
def multiples():
  result = 0
  for i in range(1,1000):
    if (i % 3 == 0 or i % 5 == 0):
        result = result + i
  print(result)

multiples()

233168

Question 8

In [21]:
#sum of even valued fibonacci numbers
def fib():
 a = 1
 b = 1
 total = 0

 for k in range(1000):
  c = a +b 
  if c >= 1000:
     break
  elif (c % 2 == 0):
    total += c
  a = b
  b = c
 
 return total

print(fib())

798